.Programs{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 2rem;
}

.Programs-header{
    color: white;
    display: flex;
    justify-content: center;
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */
    gap: 5rem;
    /* it creates gap in between */
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
}

.program-categories{
display: flex;
gap: 1rem;
}

.category{
    display: flex;
    flex-direction: column;
    background-color: #6a6f78; 
    color: white;
    padding : 2rem;
    gap : 1rem;
    justify-content: space-between;
}
.category>:nth-child(1){
    width: 2rem;
    height: 2rem;
    fill:white
}

.category:nth-child(2){
    font: size 1rem; ;
    font-weight: bold;
}

.category:nth-child(3){
    font-size: 0.9rem;
    line-height: 1;
}

.join-now{
    display: flex;
    align-items: center;
    gap: 2rem
}

.join-now>img{
    widht:1rem
}

.category:hover{
    background-color: orange;
    cursor: pointer
}